div.survey_form .field_container {
    margin-bottom: 2em;
}

table.survey_form {
    border-collapse: collapse;
    margin-bottom: 2em;
    width: 100%;
}

table.survey_form .form-check-input {
    position: static;
    margin: 0;
}

table.survey_form th {
    padding: 0 0.5em 0 0.5em;
}

table.survey_form tr.header th {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

table.survey_form tr.header th.first {
    border-left: none;
}

table.survey_form tr.header th {
    text-align: center;
}

table.survey_form td {
    text-align: center;
    border-left: 1px solid black;
}

table.survey_form th,
table.survey_form td {
    padding: 0.4em 0.2em 0 0.2em;
}

table.survey_form tr.even {
    background: lightgray;
}

table.survey_form tr.formrow.active {
    background: #f0f8ff;
}

table.survey_form tr.formrow.even.active {
    background: #dae0e5;
}

table.survey_form tr.formrow td.active {
    background: #eff0ff;
}

table.survey_form tr.formrow.even td.active {
    background: #d7d8e5;
}
