{% comment %}
Overrides default oTree live data template and only makes a minor change in the JavaScript to allow for displaying
"<hr>" lines when a data update is received.
{% endcomment %}

{% extends "otree/admin/Session.html" %}

{% block internal_scripts %}
{{ block.super }}
<script>
$(document).ready(function() {
    ajax_json_results();
    makeTableDraggable($('#results-table'));
});
function ajax_json_results() {
    var start = Date.now();
    var $table = $('#results-table');
    $.ajax({
        url: '{% url "SessionData" session.code %}',
        type: 'GET',
        contentType: "application/json",
        error: function(jqXHR, textStatus) {
            $( "div#server_error" ).show();
            setTimeout(ajax_json_results, 10000);
        },
        success: function (new_json) {
            $( "div#server_error" ).hide();
            updateTableExtended($table, new_json);
            var msElapsed = Date.now() - start;
            // feedback mechanism to avoid straining the server:
            // back off if requests are taking a long time
            var msUntilNextRequest = Math.max(msElapsed*2, 3000);
            setTimeout(ajax_json_results, msUntilNextRequest);
        }
    });
}

function updateTableExtended($table, new_json) {
    var old_json = $table.data("raw");
    var $tbody = $table.find('tbody');
    // build table for the first time
    if ( old_json === undefined ) {
        populateTableBody($tbody, new_json);
    }
    // compute delta and update
    // corresponding values in table
    else {
        var diffpatcher = jsondiffpatch.create({
            objectHash: function(obj) {
                // it's not actually participant.label, it's
                // participant._id_in_session e.g. P1, P2... not sure why
                // it was called that
                return obj.participant_label;
            }
        });
        var delta = diffpatcher.diff(old_json, new_json);
        for (i in delta) {
            // 2017-08-13: when i have time, i should update this
            // to the refactor I did in SessionMonitor.html
            for (header_name in delta[i]) {

                var cell_to_update = $table.find(
                    "tbody tr:eq(" + i + ") td[data-field='" + header_name + "']" );
                var new_value = delta[i][header_name][1];
                cell_to_update.html(new_value);     // otreeutils CHANGE: use .html instead .text to render HTML tags

                // so that we get tooltips if it truncates
                cell_to_update.prop('title', new_value);
                flashGreen(cell_to_update);
            }
        }
    }
    $table.data("raw", new_json);
    updateDraggable($table);
}

</script>
{% endblock %}

{% block content %}
{{ block.super }}
<table id="results-table" class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th rowspan="3">ID in session</th>
            {% for header, colspan in subsession_headers %}
                <th colspan="{{ colspan }}">{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for header, colspan in model_headers %}
                <th colspan="{{ colspan }}">{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for header in field_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="server_error" class="alert alert-danger" style="display: none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Failed to connect to server
</div>
<small>You can download data in Excel or CSV format <a href="{% url 'ExportIndex' %}">here</a>.</small>
{% endblock %}
